body {
  background: rgba(46, 43, 43, 0.493);
  color: wheat;
  text-align: center;
}
#form {
  display: flex;
  flex-flow: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

#form input {
  margin-bottom: 20px;
  padding: 10px;
}

#form button {
  display: block;
  margin: 0 auto;
  background: rgba(96, 96, 212, 0.582);
  padding: 10px;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

#form button:hover {
  box-shadow: 0 0 5px 10px rgb(149, 149, 245);
  transition: all 1500ms ease-out;
  color: white;
}

.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  margin: 50px;
}
.innerBox {
  width: 100px;
  height: 100px;
  border: 1px solid;
}
.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.innerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
